body {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
}

section h1 {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

section h2 {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.fade-in {
  animation: fadeInAnimation ease 4.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mainNav {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .line {
  width: 95vw;
  border-bottom: 1px solid white;
}

#mainNav .navbar-nav {
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: white;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 120%;
  padding: 0.8rem;
  float: right;
  margin-right: 2rem;
}

#mainNav .logo {
  width: 2.1em;
  height: 2.3em;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    margin-top: -.7rem;
    margin-left: 1.5rem;
  }
  #mainNav .navbar-nav {
    margin-top: -.3rem;
    letter-spacing: 0rem;
  }
  #mainNav .line {
    margin-left: 1.5rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  background: url("https://i.imgur.com/H8hkszS.jpg");
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
}

header.masthead .header-line {
  max-width: 36rem;
  padding: 0rem;
  text-align: center;
  border: none;
  border-top: solid 0.3rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
    background: url("https://i.imgur.com/H8hkszS.jpg");
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 2.25em;
  }
}

#portfolio {
  background-color: rgba(246, 246, 246, 0.603);
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  position: relative;
  height: auto;
}

#portfolio .carousel-control-prev,
#portfolio .carousel-control-next {
  width: 5vw;
  height: 3vh;
  position: absolute;
  top: 40%;
  scale: 150%;
}

#portfolio #portfolio-text {
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 48rem;
}

#portfolio .carousel {
  display: inline-block;
  height: auto;
  padding: 1em;
  margin: 3em;
  flex-grow: 1;
  flex-basis: 40%;
  cursor: pointer;
}

#portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1em;
  margin-top: 1em;
  height: 92%;
  width: 95.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  pointer-events: none;
}

#portfolio .overlay-text {
  color: white;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bolder;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

#portfolio #play-icon {
  transform: scale(0.4);
}

@media (min-width: 576px) {
  #portfolio .modal-lg {
    max-width: 70%;
  }
}

#portfolio .modal-content {
  height: 80vh;
  background: transparent;
}

#portfolio .modal-body {
  height: 100%;
  /* Adjust for header and footer height */
  overflow-y: auto;
  overflow: hidden;
}

#portfolio .close {
  color: white;
  transform: scale(1.5);
  position: absolute;
  top: 2rem;
  /* Adjust to desired position from the top */
  right: 4rem;
  /* Keep the button aligned to the right */
  z-index: 1051;
  /* Ensure it appears above the modal content */
}

#contact {
  margin-bottom: -3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #292929;
}

#contact .navbar-brand {
  font-size: 1.5em;
  margin-top: -3rem;
  margin-left: 1.5rem;
  padding-left: 12rem;
  width: 35vw;
}

#contact .logo {
  transform: scale(120%);
  width: 2.1em;
  height: 2.3em;
  margin-top: 5rem;
}

#contact #contact-graphic {
  width: 420px;
  max-height: 350px;
  padding-bottom: 5rem;
}

#contact #p-contact {
  color: white;
  font-size: .9rem;
  line-height: .9rem;
  padding-top: 3rem;
  padding-left: 20%;
  text-align: left;
  width: 35vw;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: black;
  color: #fff;
}

.copyright {
  background-color: black;
  font-size: 1.5rem;
  position: relative;
}

#welcome {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 400px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  padding-top: calc(6rem + 72px);
  background-color: white;
  color: black;
}

#welcome #p-welcome {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

#welcome #lwin-myint {
  font-size: 4rem;
  line-height: 3rem;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
  width: 35rem;
  padding-left: 13rem;
}

#welcome #welcome-graphic {
  width: 35em;
  max-height: 20em;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

#welcome #p-welcome {
  font-size: 1.1em;
  line-height: 1.7rem;
  text-align: left;
  width: 35rem;
  margin-top: -1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  max-height: 250px;
  padding-left: 9rem;
  padding-right: 7.5rem;
}

#welcome #p-welcome p {
  margin-bottom: 25px;
}

@media (max-width: 1500px) {
  #welcome #p-welcome {
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: .7em;
    line-height: 1.2em;
  }
}

a {
  color: white;
}

a:focus, a:hover, a:active {
  color: #e6e6e6;
  outline: none !important;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: white !important;
}

.bg-secondary {
  background-color: black !important;
}

.text-primary {
  color: white !important;
}

.text-secondary {
  color: black !important;
}

.btn-primary {
  background-color: white;
  border-color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.btn-secondary {
  background-color: black;
  border-color: black;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: black;
  border-color: black;
}
